
body{
  padding-top:20px;


}

.header{


  border-bottom: 2px solid grey;

}
  


.logo{
  padding-left:0!important;
}
.barcode{
  padding-right:10px!important;
  padding-top:10px!important;
  vertical-align: middle;
}

.dear-applicant{
  margin-top:25px;

}

.dear-applicant .columns p{

    line-height:24px;
  font-size: 17px;
    font-family: 'Arial'!important;
 
    color: #000000!important;


}

.headers-items{

  border-bottom: 1px solid #ccc;



}
.headers-items .columns h6{
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,"GothamPro",'Helvetica Neue',Helvetica,Arial,sans-serif;
  text-align: left;
  text-transform: capitalize;
  font-weight:600;
  font-size:14px;


  }

  .return-content{
    border-bottom: 1px solid #ccc;
  }
  .return-content .columns h6{
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,"GothamPro",'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-align: left;
    text-transform: capitalize;
    font-weight:600;
    font-size:14px;
  
  
    }
    .return-content .columns p{
      font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,"GothamPro",'Helvetica Neue',Helvetica,Arial,sans-serif;
      text-align: left;
      text-transform: capitalize;
     
      font-size:12px;
    
    
      }
  


  .sms-row{
    border-bottom: 1px solid #ccc;
    padding-left:20px;
  }



  .sms-row .columns h6{
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,"GothamPro",'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-align: left;
    text-transform: capitalize;
    font-weight:600;
    font-size:14px;
  
  
    }
   
    .self-service .columns h6{
      font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,"GothamPro",'Helvetica Neue',Helvetica,Arial,sans-serif;
      text-align: left;
      text-transform: capitalize;
      font-weight:600;
      font-size:14px;
    
    
      }
      .sub-total{
        width:500px;
       
      }
    
     .sub-total .sub .columns {
    
       background:#f5f5f5;
       background-color: #f5f5f5;
       font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,"GothamPro",'Helvetica Neue',Helvetica,Arial,sans-serif;
      
      
      
       font-weight: 400
     }

     .sub-total .sub .sub-in .items h5{
       font-size:14px;
       
     }

     .sub-total .sub .grand-total .items strong{
       font-weight:700;

     } 
     
     .sub-total .sub .Nigeria .items h5{
      font-size:14px;
       
     }
     .sub-total .sub .tax .items h5{
      font-size:14px;
       
     }

     .notes .columns span{
      font-size:14px;
     }
 .footer-container .footer-row .columns {
  background: #f6f6f6!important;

  padding: 30px 15px 15px;

  color: #000000;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",
  Helvetica,"GothamPro",'Helvetica Neue',Helvetica,Arial,sans-serif;
  
 }
 .footer-container .footer-row .columns .contact-us {
  
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",
  Helvetica,"GothamPro",'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size:14px !important;
  line-height:24px;
 }
 .footer-container .footer-row .columns .contact-us .page{
   text-decoration: underline;
 }
 .footer-container .footer-row .columns .small-p{
   line-height:21px;
   font-size:12px !important;
   color:#5f5f5f;
   font-style: italic;
    font-family: "HelveticaNeue-Light","Helvetica Neue 
    Light","Helvetica Neue",Helvetica,"GothamPro",'Helvetica Neue',Helvetica,Arial,sans-seri
 }