

    <container class="footer-container">
        <row class="footer-row">
            <columns>
                <span class="contact-us">
                        This is a post only email that is not monitored, please do not reply
                        to this address. If you wish to contact us,
                        please check our <a class="page" href="#">Contact Us</a> page. 
                </span>
                <spacer size="50"></spacer>
                <span class="small-p">
                        The information contained in this communication is 
                        privileged and confidential. The content is intended only
                         for the use of the individual or entity named above. If the
                          reader of this message is not the intended recipient, you are 
                          ereby notified that any dissemination, distribution or copying of
                          this communication is strictly prohibited. If you have received this
                           communication in error, please Contact Us, and delete this message 
                           from your systems.
                </span>

            </columns>
        </row>
       
                                
                    
    </container>
   
    

